<launch>

	
	<include file="$(find usb_cam)/launch/usb_cam_stream_publisher.launch" pass_all_args="true">
 	  	<arg name="video_device" default="/dev/video1" />
		<arg name="image_width" default="640" />  
		<arg name="image_height" default="480" />
	</include>

	<include file="$(find ur3_moveit_config)/launch/demo.launch">
	</include>

	<include file="$(find aruco_ros)/launch/single.launch">
		
	</include>


</launch>
