<?xml version="1.0"?>

<launch>

<!-- Parametros de la camara -->
<arg name="video_device" default="/dev/video0" />
<arg name="image_width" default="640" />  <!-- 640 480/-->
<arg name="image_height" default="480" />

<!-- Node usb_Cam -->

<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
	<param name="camera_info_url" value="file:///home/wilson/catkin_ws/src/usb_cam/calibracion.yaml"/>
	<param name="video_device" value="$(arg video_device)" />
	<param name="image_width" value="$(arg image_width)" />
	<param name="image_height" value="$(arg image_height)"/>
	<param name="pixel_format" value="yuyv" />
	<param name="camera_frame_id" value="usb_cam" />
	<param name="io_method" value="mmap"/>
</node>

<!--Node de traformacion entre la camara y el ultimo eslabon del robot -->

<!--node pkg="tf" type="static_transform_publisher" name="trans_camera" args="0 0 0 0 0 0 1 tool0 usb_cam 100" /-->

<!-- Argumentos para el Target -->

    <arg name="markerId"        default="582"/>
    <arg name="markerSize"      default="0.04"/>    <!-- in m -->
    <arg name="eye"             default="left"/>
    <arg name="marker_frame"    default="Herramienta"/>
    <arg name="ref_frame"       default="usb_cam"/>  <!-- leave empty and the pose will be published wrt param parent_name -->
    <arg name="corner_refinement" default="LINES" /> <!-- NONE, HARRIS, LINES, SUBPIX -->

<!-- Node Aruco_ROS-->

    <node pkg="aruco_ros" type="single" name="aruco_single">
        <remap from="/camera_info" to="/usb_cam/camera_info"/>                              <!-- /camera/color/camera_info" /-->
        <remap from="/image" to="/usb_cam/image_raw"/>                               <!-- "/camera/color/image_raw" /-->
        <param name="image_is_rectified" value="False"/>
        <param name="marker_size"        value="$(arg markerSize)"/>
        <param name="marker_id"          value="$(arg markerId)"/>
        <param name="reference_frame"    value="$(arg ref_frame)"/>   <!-- frame in which the marker pose will be refered -->
        <param name="camera_frame"       value="usb_cam"/>          <!--camera_color_optical_frame"/-->
        <param name="marker_frame"       value="$(arg marker_frame)" />
        <param name="corner_refinement"  value="$(arg corner_refinement)" />
    </node>

    <node pkg="tracking_robot" type="track_robot" name="track_robot"> 
    </node>
	

</launch>
